
@value firaMonoUrl: "https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap";

@import url(firaMonoUrl);

@value bgColor: #222;
@value accentColor: #00c4cc;
@value plannedColor: #888;
@value soonColor: #22cc24;
@value doneColor: accentColor;
@value strokeWidth: 3px;
@value bubbleSize: 60px;
@value spacingX: 200px;
@value spacingY: 150px;

body {
    background-color: bgColor;
    /* Prevent scrolling. Panning and zooming is handed by the camera instead. */
    overflow: hidden;
    cursor: move;
}

.refidex {
    transform-origin: 0 0;
    pointer-events: none;
    user-select: none;
}

.line {
    position: absolute;
}

.lineSvg {
    width: 100%;
    height: 100%;
}

.lineSvgContent {
    stroke: accentColor;
    stroke-width: 2;
}
.lineSvgContent.statusPlanned {
    stroke: plannedColor;
}
.lineSvgContent.statusSoon {
    stroke: soonColor;
}

.node {
    position: absolute;
    font-family: 'Fira Mono', monospace;
    font-size: 10pt;
}

.bubble {
    width: bubbleSize;
    height: bubbleSize;
    box-sizing: border-box;
    border-radius: 50%;
    border-width: strokeWidth;
    border-style: solid;
    border-color: doneColor;
    background-color: bgColor;

    /* Center icon or content */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.bubble.statusPlanned {
    border-color: plannedColor;
}
.bubble.statusSoon {
    border-color: soonColor;
}
.bubble.statusInProgress {
    border-style: dashed;
}
.bubble.statusInProgress.percentage {
    border-color: transparent;
}
.bubbleSvg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    width: calc(spacingX - 10px);
    top: bubbleSize;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

.title > span {
    display: inline-block;
    background-color: bgColor;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    pointer-events: all;
    user-select: text;
    cursor: text;
}
